<div class="panel panel-default">
  <div class="panel-heading"><h2>Departamentos<h2></div>
	<table  class="table table-hover">
  	<tr>
    	<th>codigo_dep</th>
    	<th>nome_dep</th>
  	</tr>
 
	<% @departamentos.each do |departamento| %>
  	<tr>
    	<td><%= departamento.codigo_dep %></td>
    	<td><%= departamento.nome_dep %></td>
  	</tr>
	<% end %>
</table>
</div>



<%= link_to 'Criar departamento', new_departamento_path %> 

