<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="/departamentos">Departamento</a></li>
  <li role="presentation"><a href="/clientes">Cliente</a></li>
  <li role="presentation"><a href="/funcionarios">Funcionário</a></li>
</ul>

<h1>Banco de dados Emissora de TV</h1>

  <li><a href="/funcionarios/the_best_salary">Melhor salário</a></li>

